.company-info {
    background-color: #2dacee;
    width: 200mm;
    padding: 10mm;
}

.company-info h2 {
    text-align: center;
}

#tel {
    background-color: #5bee4f;
    width: 30mm;
}

.invoice-table tr {
    border: 1mm solid #000;
}

.invoice-table th {
    border-bottom: 0.6mm solid #000;
    padding-right: 10px;
    padding-left: 10px;
}

.invoice-table td {
    border-bottom: 0.3mm solid #000;
    text-align: center;
    min-width: 15mm;
}